name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.14.5
              otp: 24.3
            build-flags:
          - pair:
              elixir: 1.15.7
              otp: 25.3
            build-flags:
          - pair:
              elixir: 1.16.2
              otp: 26.2
          - pair:
              elixir: 1.17.3
              otp: 27.3
          - pair:
              elixir: 1.18.3
              otp: 27.3
          - pair:
              elixir: 1.19.5
              otp: 28.3
            lint: lint
            build-flags: --warnings-as-errors
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - name: Install Dependencies
        run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.get && mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix test
